* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald;

}

/*  Header Section  */

header {
    position: fixed;
    top: 0; 
    left: 0;
    height: 87vh;
    width: 100vw;
    background: skyblue;
    color: rgb(214, 63, 47);
    transition: all 300ms ease-out; 
}

.shrink {
    height: 60px;
    align-items: center;
}

.inner-header {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    width: auto;
}

header h2 {
    margin-left: 10px;
    font-size: 60px;
}

header ul {
    display: flex;
    list-style: none;
    margin-top: 20px;
}

header li:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
}

.arrow-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 13vh;
    background: skyblue;
}

.arrow-box img {
    width: 60px;
}

/*  Hero Section  */

.hero-container {
    height: 200vh;
    background: rgb(41, 126, 155);
}

.hero-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 100vh;
    font-weight: 200;
}

.hero-self-portrait {
    width: 200px;
    border-radius: 100%;
    border: 2px solid rgb(22, 98, 238);
}

.hero-content-container h1 {
    font-size: 6rem;
    font-weight: 200;
    line-height: 90%;
}

.header-greeting {
    color: rgb(216, 90, 90);
}

.header-title {
    margin: 40px 0;
}

.header-name {
    color: rgba(255, 255, 79, 0.767);
}

.header-text {
    font-size: 1.5rem;
    color: rgb(68, 209, 68);
}

/*  Skills Section  */

.skills-inner-container {
    display: flex;
    max-width: 1180px;
    margin: 40px auto;
}

.skill-scroll {
    margin-left: -100vw;
    max-width: 60%;
}

.skills-text {
    margin-left: 0;
}



.skill-icon-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

.skill-icon {
    max-width: 240px;
    height: auto;
}

.icon-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.icon-2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.icon-3 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.icon-4 {
    grid-column: 2/3;
    grid-row: 2/3;
}

/*  Project Section  */

.projects-container {
    display: flex;
    justify-content: center;
    background-color: rgb(247, 247, 247);
}

.projects-inner-container {
    display: flex;
    justify-content: space-around;
    width: 1180px;
    margin: 40px 0;
    
}

.projects-individual-container {
    position: relative;
    flex-basis: 50%;
    height: 450px;
    border: 3px solid black;
}

.projects-individual-box-1 {
    background: bisque;
    background-image: url("./Resources/Images/shop.jpg");
    background-size: contain;
}

.projects-individual-box-2 {
    background: violet;
    background-image: url("./Resources/Images/ColmarAcademy.jpg");
    background-size: contain;
}

.projects-bottom-half-box {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    border-top: 3px solid black;
    z-index: 5;
    background: lightskyblue;
    border-radius: 0 0 2px 2px;
    transition: all 0.25s ease-out; 
}

.projects-bottom-half-box:hover {
    height: 99%;
}

.projects-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    background: red;
    margin-top: -70px;
    z-index: 10;
    border: 6px solid black;
    border-radius: 50%;
}

.projects-icon img {
    width: 50%;
}